zero/zero-api/src/main/resources/person.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://api.study.epam.com/">
    <xs:complexType name="person">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="username" type="xs:string" nillable="false"/>
            <xs:element minOccurs="1" maxOccurs="1" name="birthday" type="xs:dateTime" nillable="false"/>
            <xs:element minOccurs="0" name="address" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>